:root {
  --main-text-color: #443b46;
  --hover-color: #c53adc;
  --accent-color: #9934bf;
  --accent-color-second: #ffa600;
  --secondary-color: #f5f2fe;
  --link-color: #c663ff;
  --box-shadow: 0 5px 10px rgba(120, 65, 126, 0.329);
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 68px;
  line-height: 1;
  font-weight: bold;
  animation: color-animation 3s linear;
  color: var(--accent-color);
}
@keyframes color-animation {
  0% {
    color: transparent;
  }
  20% {
    color: var(--secondary-color);
  }
  50% {
    color: var(--hover-color);
  }
  100% {
    color: var(--accent-color);
  }
}
h2 {
  padding: 24px;
  text-align: center;
  font-size: 30px;
  margin: 0;
}
h3 {
  padding-top: 18px;
  text-align: center;
  font-size: 28px;
  margin: 0;
  font-weight: bold;
}
h4 {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 20px;
}
@media (max-width: 800px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 18px;
    margin-bottom: 24px;
  }
}
body {
  color: var(--main-text-color);
  font-family: "Montserrat", sans-serif;
}
.prjcts {
  background: #F5F2F5;
  padding: 24px;
  margin: 28px;
  border-radius: 5px;
}
.navigation {
  display: flex;
  justify-content: center;
  font-size: 18px;
}
.navigation a {
  margin: 18px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
}
.main_button {
  background: var(--accent-color);
  color: var(--secondary-color);
  transition: all 300ms ease-in;
}
.main_button:hover {
  background: var(--hover-color);
  color: var(--secondary-color);
  box-shadow: var(--box-shadow);
  transform: scale(1.05, 1.05);
}
.secondary_button {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  transition: all 300ms ease-in;
}
.secondary_button:hover {
  border: 1px solid var(--hover-color);
  color: var(--hover-color);
  box-shadow: var(--box-shadow);
  transform: scale(1.05, 1.05);
}
.main_image {
  transition: all 0.8s ease-out;
  transform: scale(0.9, 0.9);
  margin: 18px;
}
.main_image:hover {
  transform: scale(1, 1);
}
.active {
  text-decoration: underline;
  transition: all 300ms ease-in;
}
.active:hover {
  color: var(--accent-color);
}
.nav-bg-light {
  background: #F5F2F5;
}
.nav-item {
  color: var(--main-color);
  transition: all 300ms ease-in;
}
.nav-item:hover {
  transform: scale(1.05, 1.05);
}
.works img{
  transition: all 300ms ease-in;
}
.works img:hover{
  transform: scale(1.05, 1.05);
}
