:root {
  --main-text-color: #443b46;
  --hover-color: #c53adc;
  --accent-color: #9934bf;
  --background-color: #f9f5fa;
  --secondary-color: #f5f2fe;
  --link-color: #c663ff;
  --box-shadow: 0 5px 10px rgba(120, 65, 126, 0.329);
}

h1 {
  font-family: "Staatliches", cursive;
  text-transform: uppercase;
  text-align: center;
  font-size: 80px;
  letter-spacing: 0.2em;
  line-height: 1;
  font-weight: bold;
  animation: color-animation 3s linear;
  color: var(--accent-color);
}
@keyframes color-animation {
  0% {
    color: transparent;
  }
  10% {
    color: var(--secondary-color);
  }
  60% {
    color: var(--hover-color);
  }
  100% {
    color: var(--accent-color);
  }
}
h2 {
  padding-bottom: 24px;
  padding-top: 24px;
  text-align: center;
  font-size: 30px;
  margin: 0;
}
.hero h2 {
  padding-bottom: 24px;
  padding-top: 48px;
  text-align: center;
  font-size: 30px;
  margin: 0;
}
h3 {
  padding-top: 18px;
  text-align: center;
  font-size: 28px;
  margin: 0;
  font-weight: bold;
}
h4 {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 20px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 18px;
    margin-bottom: 24px;
  }
}
body {
  color: var(--main-text-color);
  font-family: "Montserrat", sans-serif;
}
.prjcts {
  background: var(--background-color);
  padding: 24px;
  /* margin: 28px; */
  margin: 40px 0;
  border-radius: 5px;
}
.buttons {
  display: flex;
  justify-content: center;
  font-size: 18px;
}
.buttons a {
  margin: 18px;
  border-radius: 4px;
  padding: 16px 48px;
  text-decoration: none;
}
.main_button {
  background: var(--accent-color);
  color: var(--secondary-color);
  transition: all 300ms ease-in;
  border: 1px solid var(--accent-color);
}
.main_button:hover {
  background: var(--hover-color);
  color: var(--secondary-color);
  box-shadow: var(--box-shadow);
  transform: scale(1.05, 1.05);
  border: 1px solid var(--hover-color);
}
.secondary_button {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  transition: all 300ms ease-in;
}
.secondary_button:hover {
  border: 1px solid var(--hover-color);
  color: var(--hover-color);
  box-shadow: var(--box-shadow);
  transform: scale(1.05, 1.05);
}
.main_image {
  margin: 24px 0;
  transition: all 0.8s ease-out;
  transform: scale(0.95, 0.95);
  max-height: 470px;
}
.main_image:hover {
  transform: scale(1, 1);
}

.works img {
  transition: all 300ms ease-in;
}
.works img:hover {
  transform: scale(1.05, 1.05);
}
nav {
  padding: 20px 0;
  font-size: 18px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 24px;
  margin-right: 24px;
}

nav a {
  text-decoration: none;
  color: var(--main-text-color);
}
nav li a {
  transition: all 300ms ease-in;
  color: var(--main-text-color);
}
nav li.active a,
nav li a:hover {
  color: var(--accent-color);
  font-weight: bold;
}
footer {
  margin: 48px 0px;
}
footer .email-link {
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: var(--main-text-color);
}
footer .email-link:hover {
  color: var(--accent-color);
  text-decoration: none;
  transition: all 300ms ease-in;
}
footer .social-links a {
  margin: 16px 24px;
  color: var(--accent-color);
  padding: 10px 16px;
  font-size: 18px;
  transition: all 300ms ease-in;
  border-radius: 40px;
  background: var(--background-color);
}
footer .social-links a:hover {
  color: var(--secondary-color);
  background: var(--accent-color);
}
footer .open-sourse,
.open-sourse a {
  text-align: center;
  text-decoration: none;
  text-decoration: none;
  font-size: 12px;
  color: rgb(160, 143, 161);
}
.open-sourse a {
  transition: all 300ms ease-in;
  color: var(--accent-color);
}
.open-sourse a:hover {
  color: var(--hover-color);
  font-weight: bold;
}
#upBtn {
  display: none;
  position: fixed;
  bottom: 48px;
  right: 24px;
  z-index: 99;
  outline: none;
  border: 1px;
  background-color: var(--secondary-color);
  color: var(--accent-color);
  border-color: var(--accent-color);
  cursor: pointer;
  padding: 12px 20px;
  border-radius: 40px;
  font-size: 18px;
  transition: all 300ms ease-in;
  border-style: solid;
}

#upBtn:hover {
  background-color: var(--hover-color);
  color: var(--secondary-color);
  border: none;
}

.carousel-inner {
  border-radius: 5px;
}
.carousel-item {
  height: 48rem;
  background-color: var(--main-text-color);
}
